.prefoot{
    display: flex;
    align-items: center;
}

@media only screen and (max-width:600px) {
    .prefoot{
        flex-direction: column;
        /* justify-content: center; */
    }
}

@media only screen and (min-width:600px){
    .prefoot{
        justify-content: space-around;
    }
}

@media only screen and (min-width:768px){
    .prefoot{
        justify-content: space-around;
    }
}