
.home-about{
    /* margin-top: 5rem; */
    width: 50%;
    /* top: 40%; */
    color: black;
}
.home-about-child{
    top: 0;
}

/* .black-bg{
    background: black;
} */
.white-bg{
    background: white;
    color: black;
}
